* {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
}

header {
  border:2px solid #ffe500;
  box-sizing: border-box;
  background-color: #ffe500;
}

h1 {
  font-family: 'Sigmar+One', cursive;
  color: #cc1465;
  text-align: center;
  margin: 0;
}

.nav {
  font-family: sans-serif;
  margin: .1em;
  list-style-type: none;
  text-align: center;
  padding: .6em;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .5em.75em;
  background-color: #713837;
  border-radius: 4px;
  text-decoration:none;
}

.nav a:hover {
  background-color: #f33;
}
